/* common style code  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* common  style code end  */


.header {
    display: flex;
    justify-content: space-around;
    background-color: #FCEEF1;
    height: 850px;

}

.header-title {
    margin-top: 197px;
}


.header-heading {
    width: 708px;
    height: 288px;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 32px;

}

.header-description {
    width: 634px;
    height: 90px;
    margin-bottom: 20px;

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {

    margin-top: 20px;
    width: 160px;
    height: 64px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background: #E55473;

}


.header-image {
    margin-top: 50px;

}

.header-image img {
    width: 635px;
    height: 800px;

}


/* header section style end  */

/* Our Featured Flowers section styles  */



.featured-section {
    margin-top: 160px;
}

.featured-texts {
    margin-bottom: 40px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-title {
    text-align: center;
}

.featured-description {
    width: 671px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 615px;
}



.featured-flowers {
    display: flex;
    justify-content: center;
    margin: 0 246px 0;
}


.featured-image-text {
    margin: 20px;
}


.featured-image-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}



.featured-image-1 img {
    margin: 110px 76px 75px;
}


.featured-image-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}


.featured-image-2 img {
    margin: 117px 47px 51px;
}


.featured-image-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-image-3 img {
    margin: 67px 75px 0;
}


.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 20px;
}


/* Our Featured Flowers styles end  */


/* Our History section style start  */


.history-section {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

.history-image img {
    width: 590px;
    height: 690px;
}

.history-info {
    width: 600px;
    height: 640px;
    margin-top: 50px;
    background-color: #F9F9F9;
}

.history-sub-info {
    margin-top: 20px;

}

.history-label {
    margin-left: 70px;

}

.history-title {
    margin-left: 70px;
    margin-top: 30px;
    color: #272727;
    line-height: 70px;
    font-size: 50px;
    font-weight: 800;
}


.history-description {
    width: 400px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-left: 70px;
}

.description-spacing {
    margin-top: 30px;
    display: block;
}


.btn-history {
    font-size: 18px;
    padding: 20px 43px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    background: #E55473;
    margin: 10px 70px;
}


/* Our History section styles end  */

.hot-deal-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 200px;
}


.hot-deal-info {
    margin-top: 230px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}


.hot-deal-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}


.hot-deal-image {
    width: 318px;
    height: 420px;
    margin-top: 100px;
}

.btn-deal {
    margin: 32px 200px;

}


/* hot deal section styles end  */