/* common style code  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* common  style code end  */


.header {
    display: flex;
    justify-content: space-around;
    background-color: #FCEEF1;
    width: 100%;
    margin-bottom: 140px;

}

.header-title {
    margin-top: 197px;
}


.header-heading {
    width: 708px;
    height: 288px;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 32px;

}

.header-description {
    width: 634px;
    height: 90px;
    margin-bottom: 20px;

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {

    margin-top: 20px;
    width: 160px;
    height: 64px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background: #E55473;

}


.header-image {
    margin-top: 50px;

}

.header-image img {
    width: 600px;
    height: 765px;

}


/* header section style end  */

/* Our Featured Flowers section styles  */



.featured-section {

    margin-bottom: 140px;
}

.featured-flowers-text {
    text-align: center;
    width: 600px;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;



}

.featured-flowers-title {
    font-size: 40px;
    color: #272727;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}



.featured-flowers {
    display: flex;
    justify-content: center;

}


.featured-image-text {
    margin: 20px;
}


.featured-image-1,
.featured-image-2,
.featured-image-3 {
    width: 400px;
    height: 474px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}



.featured-image-1 img {
    width: 300px;
    height: 400px;
    margin: 74px 62px 0px;
}


.featured-image-2 {

    background: rgba(5, 151, 160, 0.15);
}


.featured-image-2 img {
    width: 300px;
    height: 400px;
    margin: 50px 51px 22px;
}


.featured-image-3 {

    background: rgba(71, 125, 17, 0.15);
}

.featured-image-3 img {
    width: 300px;
    height: 400px;
    margin: 73px 50px 0;
}


.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 20px;
}


/* Our Featured Flowers styles end  */


/* Our History section style start  */


.history-section {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

.history-image img {
    width: 590px;
    height: 690px;
}

.history-info {
    width: 600px;
    height: 640px;
    margin-top: 50px;
    background-color: #F9F9F9;
}

.history-sub-info {
    margin-top: 20px;

}

.history-label {
    margin-left: 70px;

}

.history-title {
    margin-left: 70px;
    margin-top: 30px;
    color: #272727;
    line-height: 70px;
    font-size: 50px;
    font-weight: 800;
}


.history-description {
    width: 400px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-left: 70px;
}

.description-spacing {
    margin-top: 30px;
    display: block;
}


.btn-history {
    font-size: 18px;
    padding: 20px 43px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    background: #E55473;
    margin: 10px 70px;
}


/* Our History section styles end  */

/* Hot Deal Section Styles */

.hot-deal-section {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 130px;
}

.hot-deal-section-text {
    justify-content: center;
    text-align: center;
    margin-left: 330px;
}

.hot-deal-section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin: 0px 0px 30px 0px;
}

.hot-deal-section-description {
    width: 674px;
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.hot-deal-image img {
    width: 318px;
    margin: 70px 330px 70px 0px;
}


/* hot deal section styles end  */



/* social section start  */

.instagram-section-texts {
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;

}

.social-title {
    color: #272727;

    font-size: 40px;
    font-weight: 800;
}

.social-image-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 130px;
}

.social-image-div img {
    width: 300px;
    height: 354px;
}


/* social section style end  */

/* Latest Deals section style start  */


.latest-deals-section {

    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0px 305px 130px 305px;



}

.deals-info {
    padding: 86px;
    text-align: center;
}


.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;

}


.deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}

.subscribe {
    display: flex;
    justify-items: center;
    gap: 10px;
}


.input-box {
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}


.btn-subscribe {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


/* Get The Latest Deals section styles end  */

/* Footer Section Styles */

.footer-section {
    background: #111010;
    padding: 200px 0px 128px 0px;
}

.footer-text {
    margin: auto;
    width: 650px;
    text-align: center;
    color: white;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;

}

.highlight-text {
    color: #E55473;
}

.footer-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.90);
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}